<div class="main">
<h1> Add your new entry </h1>

<%= form_with model: [@category, @entry] do |f| %>
    <% if @entry.errors.any? %>
<% @entry.errors.full_messages.each do |error| %>

    <h4><%= error %></h4>

<% end %>
<% end %>
<%= f.hidden_field :user_id, value: current_user.id %><br>
    <%= f.label :details %>
    <%= f.text_field :details %><br>

        <br>
    
    <%= f.label :amount %>
    <%= f.number_field :amount %><br>
    <br>
    <%= f.label :month %>
    <%= f.select :month, ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"], prompt:"Pick a month" =%>

        <br><br>
    
    <%= f.submit "submit" %>
<% end %>
</div>