<h1> Add your new entry </h1>

<%= form_with model: [@category, @entry] do |f| %>
   
    <%= f.label :details %>
    <%= f.text_field :details %><br>

        <br>
    
    <%= f.label :amount %>
    <%= f.number_field :amount %><br>
    <br>
    <%= f.label :month %>
    <%= f.select :month, ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"], prompt:"Pick a month" =%>

        <br><br>
    
    <%= f.submit "submit" %>
<% end %>
</div>