
<div class="main">

<h1><%= @category.name %></h1>
 <h2><%= @entry.details %>:</h2>
 
<h2><i>$<%= @entry.amount %></i>, <%= @entry.month %></h2>
 <br>

<%= link_to "Edit", edit_category_entry_path(@entry.category, @entry) %><p>
<%= link_to "Delete", [@entry.category, @entry], method: :delete %><br>

</div>